.navbar {
	margin: -10px;
	justify-content: center;
	align-items: center;
	display: flex;
	height: 100%;
	background-color: lightblue;
	border-bottom: solid;
}

.input-box {
	height: 4vh;
	font-size: large;
}
.add-button {
	height: 5vh;
	background-color: #84f2fa;
	color: #074d52;
	border-color: #074d52;
	font-size: large;
}

.app {
	justify-content: center;
}

.form-body {
	margin-top: 14px;
	display: flex;
	align-items: center;
	justify-items: center;
	justify-content: center;
}

.todo-container {
	text-transform: capitalize;
	font-size: 17px;
	display: flex;
	border: solid 2px;
	padding: 5px;
	border-radius: 8px;
	border-color: #362f2f;
	margin-top: 10px;
}
.edit-button {
	margin-right: 15px;
	background-color: #9cc2e5;
	color: #162cf5;
	font-size: medium;
	border-color: #162cf5;
	border-radius: 4px;
}
.delete-button {
	background-color: #f28f8f;
	color: #a80f0f;
	border-color: #a80f0f;
	border-radius: 4px;
	font-size: medium;
}

.cancel-button {
	background-color: #f28f8f;
	color: #a80f0f;
	border-color: #a80f0f;
	border-radius: 4px;
	font-size: medium;
	margin-right: 15px;
}

.submit-button {
	background-color: #96e0a3;
	color: #076b18;
	font-size: medium;
	border-color: #076b18;
	border-radius: 4px;
}

.right-action-buttons {
	margin-left: auto;
	padding-right: 10px;
}

.edit-container {
	display: flex;
	border: solid 2px;
	padding: 5px;
	border-radius: 8px;
	border-color: #362f2f;
	margin-top: 10px;
}
