.navbar {
	margin: -10px;
	justify-content: center;
	align-items: center;
	display: flex;
	height: 10vh;
	background-color: lightblue;
	border-bottom: solid;
}

.input-box {
	height: 4vh;
	font-size: 1rem;
}
.add-button {
	height: 5vh;
	background-color: #84f2fa;
	color: #074d52;
	border-color: #074d52;
	font-size: 0.9rem;
}

@media (max-height: 400px) {
	.add-button {
		margin-top: 2px;
		height: 20px;
	}
	.input-box {
		margin-top: 2px;
		height: 14px;
	}
}

@media (min-width: 330px) {
	.input-box {
		padding-left: 12apx;
	}
}

.edit-input {
	box-sizing: border-box;
	height: 103%;
	width: 30vh;
}

.form-body {
	margin-top: 14px;
	display: flex;
	align-items: center;
	justify-items: center;
	justify-content: center;
}

.todo-container {
	height: 3.6vh;
	text-transform: capitalize;
	font-size: 17px;
	display: flex;
	border: solid 2px;
	padding: 1vh;
	border-radius: 8px;
	border-color: #362f2f;
	margin-top: 3vh;
}
.edit-button {
	margin-right: 1vw;
	margin-left: auto;
	background-color: #9cc2e5;
	color: #162cf5;
	font-size: medium;
	border-color: #162cf5;
	border-radius: 4px;
}
.delete-button {
	margin-left: auto;
	background-color: #f28f8f;
	color: #a80f0f;
	border-color: #a80f0f;
	border-radius: 4px;
	font-size: medium;
}

.cancel-button {
	margin-left: auto;
	background-color: #f28f8f;
	color: #a80f0f;
	border-color: #a80f0f;
	border-radius: 4px;
	font-size: medium;
	margin-right: 1vh;
}

.submit-button {
	background-color: #96e0a3;
	color: #076b18;
	font-size: medium;
	border-color: #076b18;
	border-radius: 4px;
}

.right-action-buttons {
	margin-left: auto;
}

@media (min-height: 800px) {
	.input-box {
		margin-top: 1vh;
		height: 3.3vh;
	}
	.add-button {
		margin-top: 1vh;
		height: 4vh;
	}
}
